*{
    margin: 0;
    padding: 10px;
    color: rgb(80, 102, 102);
    font-size: 25px;
    padding-right: 10px;
    min-width: 300px;
    max-width: 400px;
    
    

}
#disly{
}


button{
    margin-top: 10px;
    min-width:5px;
    background-color: white;
    border-radius: 10px;
    max-width: 50%;
    font-size: 15px;
    
}
button:hover{
    box-shadow: 3px 2px 4px 2px yellow;
    color: black;
}





ul{
    list-style: none;
    padding-left: 0px;
}
ul li{
    border: solid red;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
a{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-decoration: none;
}
